# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

## Get the data source

In [1]:
# Your code goes here
import pandas as pd

# Read data from URLs
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

# Read data into dataframes
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

## Now combining the data sets

In [6]:
# Combine dataframes
combined_df = pd.concat([df1, df2, df3], ignore_index=True)
combined_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,NaN,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,California,M
12070,PK87824,NaN,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,California,F
12071,TD14365,NaN,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California,M
12072,UP19263,NaN,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,California,M
12073,Y167826,NaN,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California,M

## removing rows with missing values

In [13]:
# Drop rows with missing values
combined_df.dropna(inplace=True)


# Standardize column names (convert to lowercase)
combined_df.columns = combined_df.columns.str.lower()
combined_df.tail()

Empty DataFrame
Columns: [customer, st, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount, state, gender]
Index: []

In [15]:
# Export cleaned dataframe to CSV
combined_df.to_csv("combined_data.csv", index=False)
combined_df

Empty DataFrame
Columns: [customer, st, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount, state, gender]
Index: []

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [37]:
# Your code goes here

import pandas as pd

# Read the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)

# Display the first few rows of the dataframe
print(df.head())

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None

In [40]:
#print info of dataset to get an idea of the info it contains:

print(df.info())

# Summary statistics for numerical columns
print("Summary Statistics for Numerical Columns:")
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None
Summary Statistics for Numerical Columns:
         unnamed:_0  customer_lifetime_value        income  \
count  10910.000000             10910.000000  10910.000000
mean    5454.500000              8018.241094  37536.284785
std     3149.590053              6885.081434  30359.195670
min        0.000000              1898.007675      0.000000
25%     2727.250000              4014.453113      0.000000
50%     5454.500000              5771.147235  33813.500000
75%     8181.750000              8992.779137  62250.750000
max    10909.000000             83325.381190  99981.000000

       monthly_premium_auto  months_since_last_claim  \
count          10910.000000             10910.000000
mean              93.196059                15.149071
std               34.442532                 9.783520
min               61.000000                 0.000000
25%               68.000000                 7.000000
50%               83.000000                15.000000
75%              109.000000                23.000000
max              298.000000                35.000000

       months_since_policy_inception  number_of_open_complaints  \
count                   10910.000000               10910.000000
mean                       48.091934                   0.384256
std                        27.940675                   0.885589
min                         0.000000                   0.000000
25%                        24.000000                   0.000000
50%                        48.000000                   0.000000
75%                        71.000000                   0.384256
max                        99.000000                   5.000000

       number_of_policies  total_claim_amount         month
count        10910.000000        10910.000000  10910.000000
mean             2.979193          434.888330      1.466728
std              2.399359          292.180556      0.498915
min              1.000000            0.099007      1.000000
25%              1.000000          271.082527      1.000000
50%              2.000000          382.564630      1.000000
75%              4.000000          547.200000      2.000000
max              9.000000         2893.239678      2.000000

In [43]:
# Total number of policies sold
total_policies_sold = df['number_of_policies'].sum()
print("Total Number of Policies Sold:", total_policies_sold)

# Total claim amounts
total_claim_amount = df['total_claim_amount'].agg(['count', 'mean', 'std'])
print("Total Claim Amounts:", total_claim_amount)

Total Number of Policies Sold: 32503
Total Claim Amounts: count    10910.000000
mean       434.888330
std        292.180556
Name: total_claim_amount, dtype: float64
Average Income by Gender:
        count          mean           std
gender
F        5573  37870.937915  30274.546744
M        5337  37186.833427  30446.247204
Total Number of Customers by Response to Marketing Campaign:
response
No     9444
Yes    1466
Name: count, dtype: int64

In [46]:
# Income segregated by gender
stats_income_by_gender = df.groupby('gender')['income'].agg(['count', 'mean', 'std'])
print("Statistics for Income by Gender:")
print(stats_income_by_gender)

Statistics for Income by Gender:
        count          mean           std
gender
F        5573  37870.937915  30274.546744
M        5337  37186.833427  30446.247204

In [44]:
# Total number of customers by response to marketing campaign
customers_by_response = df['response'].value_counts()
print("Total Number of Customers by Response to Marketing Campaign:")
print(customers_by_response)

Total Number of Customers by Response to Marketing Campaign:
response
No     9444
Yes    1466
Name: count, dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here